body {
    margin: 0;
    text-align: center;
}

header {
    height: 250px;
    width: 550px;
    background-color: #6943FF;
    padding: 30px 30px 0px 30px;
}

h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

#unit {
    width: 117px;
    height: 83px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: #6943FF;
    color: #ffffff;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

#unit::placeholder {
    color: #f4f4f4;
    font-size: 58px;
}

button {
    width: 117px;
    height: 42px;
    color: #3D3D3D;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
}


.results-container {
    background-color: #f4f4f4;
    padding: 10px;
}

.output {
    background-color: #ffffff;
    padding: 5px;
    margin: 24px 25px;
}

h2 {
    font-size: 20px;
    color: #5A537B;
}